.skills {
	margin: 0 auto;
}

.skills ul {
	list-style-type: circle;
	margin: 0;
	padding: 0;
	list-style-position: inside;
	display: grid;
	grid-template-columns: 150px 150px;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media only screen and (min-width: 600px) {
	.skills {
		display: flex;
		justify-content: space-between;
		margin: 0 30px;
	}
}
