.carousel-control-next-icon,
.carousel-control-prev-icon {
	position: absolute;
	top: 200px;
	/* padding: 20px; */
}

.carousel {
	/* margin-top: 0; */
	padding: 0 20px 20px 20px;
	margin-bottom: 50px;
}

.design-project {
	text-align: center;
	margin-bottom: 110px;
}

.design-project h3 {
	font-size: 24px;
}

.design-work h2 {
	margin: 70px;
}

.carousel-indicators li {
	width: 10px !important;
	height: 10px !important;
	border-radius: 100%;
	background-color: black !important;
	margin-top: 10px;
	margin-bottom: -100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	opacity: 0;
}

.activity-tracker div div .carousel-item img,
.pigment div div .carousel-item img,
.pizza div div .carousel-item img {
	width: 100%;
}

.active.carousel-item {
	border: none;
}

@media (min-width: 800px) {
	.carousel-control-next-icon {
		opacity: 1;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
	}
	.carousel-control-prev-icon {
		opacity: 1;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
	}

	.activity-tracker div div .carousel-item img {
		width: auto;
		height: 75vh;
		/* max-height: 500px; */
		margin-left: 50%;
		transform: translateX(-50%);
	}

	.pizza div div .carousel-item img {
		width: auto;
		height: 70vh;
		/* max-height: 500px; */
		margin-left: 50%;
		transform: translateX(-50%);
	}

	.pigment div div .carousel-item img {
		width: auto;
		height: 45vh;
		margin-left: 50%;
		transform: translateX(-50%);
	}
	.carousel-control-next-icon {
		right: -50px;
	}

	.carousel-control-prev-icon {
		left: -50px;
	}
}

@media (min-width: 1200px) {
	.pigment div div .carousel-item img {
		height: 55vh;
		/* max-height: 450px; */
	}
}
