nav ul {
	list-style: none;
}

nav {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 60px;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
	/* display: flex; */
	/* justify-content: space-between; */
	padding: 15px 30px;
}

@media only screen and (min-width: 600px) {
	nav ul {
		display: flex;
		justify-content: space-around;
	}
}
