.show-resume {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	overflow: auto;
}

.show-resume div button {
	position: relative;
	z-index: 20;
	top: 50px;
	left: 30px;
}

.show-resume div img {
	width: 100%;
}

.hide-resume {
	display: none;
}

@media only screen and (min-width: 600px) {
	.show-resume div {
		width: 80vw;
		margin: 20px auto;
	}
}
