* {
	box-sizing: border-box;
}

:root {
	--mainFont: 'Playfair Display', serif;
	--secondFont: 'Open Sans', sans-serif;
}

body {
	padding: 0 25px;
}

.active {
	border-bottom: 1px solid black;
}

section {
	min-height: 100vh;
}

h2 {
	font-family: var(--mainFont);
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 0;
}

p {
	text-align: center;
	line-height: 1.4;
	margin-top: 0px;
	font-weight: 300;
}

@media only screen and (min-width: 600px) {
	section {
		width: 60vw;
		min-width: 600px;
		max-width: 800px;
		margin: 0 auto;
	}

	.about {
		height: 700px;
		min-height: 700px;
	}
}
