* {
	box-sizing: border-box;
}

:root {
	--mainFont: 'Playfair Display', serif;
	--secondFont: 'Open Sans', sans-serif;
}

body {
	/* margin-top: 50px; */
	padding: 20px;
}

.active {
	border-bottom: 1px solid black;
}

section {
	height: 100vh;
}
